backends:
  all_secrets:
    backend_type: aws.secrets
    aws_session:
      aws_region: us-east-1
      aws_access_key_id: ==========================     # 20-char key starting with AKIA
      aws_secret_access_key: ==========================   # 40-char secret
    secret_id: arn:aws:secretsmanager:us-east-1:<==========================>:secret:/datadog/all-secrets-TcsWi9
    force_string: false
